.dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.dashbg{
    position: fixed;
    top: 0px; left: 0px; 
    width: 100%; 
    height: 100%;
    z-index: -1;
    background-color: #e4e4e4;
}
.post-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashhead{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.postlistHeader{
    font-weight: lighter;
    align-self: flex-start;
}

.createPostButton{
    border: none;
    background-color: #6fcade;
    border-radius: 10px;
    padding: 12px;
    margin-left: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    cursor: pointer;
}

.createPostButton:hover{
    background-color: #6abed1;
}

.plusIcon{
    margin-right: 10px;
}

.dashContainer{
     min-width: 500px; 
}
@media (min-width: 577px) and (max-width: 991px) {
    .dashhead {
        margin-left: auto;
        margin-right: auto;
    }
    .createPostButton {
        margin-left: auto;
        margin-right: auto;
        }
}
@media (min-width:401px) and (max-width:576px) {
    .dashhead {
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
    .createPostButton {
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
}
@media (max-width:400px) {
    .dashhead {
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
    .createPostButton {
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
}