* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #6FCADE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
}

.brand-name {
    font-size: 40px;
    margin: 0.5rem;
    padding: 5px;
}
.hamburger {
    cursor: pointer;
    font-size: 2rem;
    color: white;
    margin: 0.3rem;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.navLinks {
    display: flex;
    font-size: 20px;
}
.link {
    text-decoration: none;
    color: white;
    padding: 0.8rem;
}
.navLinks a:hover {
    background-color: #6abed1;
}

.logoutButton{
    background-color: transparent;
    border: none;
}

.logoutButton:hover{
    background-color: #6abed1;
}

@media (max-width:576px) {
    .nav {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
    }
    .navLinks {
        width: 100%;
        flex-direction: column;
        text-align: center;
        position: fixed;
        top: 60px;
        background-color: #6FCADE;
        border-top: 2px solid #6abed1;
    }
    .navLinks a {
        padding: 0.5rem 1rem;
    }
    .hamburger {
        display: flex;
    }

}